**/target/**
**/.idea/**
**/*.iml
.DS_Store
**/.cache-main
**/.project
**/.classpath
**/.cache-tests
**/.settings/**

# gitignore for Gradle project(s).
**/.gradle/**
**/lib/build/**
spring-commons/mvnw
hcx-core/hcx-spring-common/.mvn/wrapper/maven-wrapper.properties
hcx-core/hcx-spring-common/.mvn/wrapper/maven-wrapper.jar
