server:
  port: ${SERVER_PORT:8082}

logging:
  level:
    root: ${LOGGING_LEVEL_ROOT:INFO}

env: ${ENV:local}

hcx-url: ${hcx_url:https://dev-hcx.swasth.app}
api-version: ${api_version:v0.7}

#kafka config
bootstrap-servers: ${bootstrap_servers:localhost:9092}

kafka:
  topic:
    message: ${kafka_message_topic:${env}.hcx.request.message}

#elasticsearch config
es:
  host: ${es_host:localhost}
  port: ${es_port:9200}

#Audit config
audit:
  index: ${audit_index:onboard_audit}
  alias: ${audit_alias:onboard_audit}

aws:
  access-key: ${aws_accessKey:}
  access-secret: ${aws_accessSecret:}
  region: ${aws_region:}

onboard:
  terms-and-conditions-url: ${onboarding_terms_and_conditions_url:https://${env}-hcx.s3.ap-south-1.amazonaws.com/terms-and-conditions/1.0.pdf}
  success-url: ${onboarding_success_url:${hcx-url}/onboarding/success}
  email: ${email_validation:activation}
  phone: ${phone_validation:activation}


email:
  id: ${email_id:}
  pwd: ${email_pwd:}
  linkSub: ${link_sub:HCX - Onboarding Details}
  success-identity-sub: ${success_identity_sub:HCX - Identity Verified}
  failed-identity-sub: ${failed_identity_sub:HCX - Identity Verification Failed}
  onboarding-success-sub: ${onboarding_success_sub:HCX - Onboarding Successful}
  verification-sub: ${verification_success:HCX - Verification Status}
  user-invite-sub: ${user_invite_sub:HCX - User Invitation}
  user-invite-accept-sub: ${user_invite_accept_sub:HCX - User Details}
  user-invite-reject-sub: ${user_invite_reject_sub:HCX - User Rejected Invitation}
  password-generate-sub: ${password_generate_sub:HCX - Participant Client Secret}

phone:
  send-link-msg : ${send_link_msg:HCX mobile verification link is :}
  verification-msg: ${phone_verification_msg:Your phone verification is STATUS.}

hcx-api:
  base-path: ${HCX_API_BASEPATH:http://localhost:8080}

mock-service:
    payor:
      endpoint-url: ${mock_service_endpoint_url_provider:http://test-mock-payor-url}
    provider:
      endpoint-url: ${mock_service_endpoint_url_payor:http://test-mock-provider-url}
    allowed-env: ${mock_service_allowed_env:}

#postgres config
postgres:
  url: ${postgres_url:jdbc:postgresql://localhost:5432/postgres}
  user: ${postgres_user:postgres}
  password: ${postgres_password:postgres}
  table:
     onboard-verification: ${onboard_verification_table:onboard_verification}
     onboard-verifier: ${onboard_verifier_table:onboard_verifier}
     onboard-user-invite: ${onboard_user_invite_table:onboard_user_invite_details}
  mock-service:
    url: ${mock_service_db_url:jdbc:postgresql://localhost:5432/mock_service}
    table:
      mock-participant: ${mock_participant_table:mock_participant}

verification-link:
  expiry: ${link_expiry:604800000}
  max-attempt: ${link_max_attempt:10}
  max-regenerate: ${link_max_regenerate:10}

registry:
  hcx-code: ${registry_hcx_code:hcxgateway.swasth@swasth-hcx-dev}

jwt-token:
  private-key : ${hcx_private_key:}
  expiry-time : ${expiry_time:86400000}

keycloak:
  base-url: ${keycloak_base_url:${hcx-url}/auth}
  admin-user: ${keycloack_admin_user_name:admin}
  admin-password: ${keycloak_admin_password:test-password}
  master-realm: ${keycloak_master_realm:master}
  client-id: ${keycloack_client_id:admin-cli}
  participant-realm: ${keycloack_users_realm:swasth-hcx-participants}

endpoint:
  user-invite: ${user_invite_endpoint:/onboarding/user/invite}