#kafka configuration
bootstrap-servers: ${bootstrap_servers:localhost:9092}

kafka:
  topic:
    payload: ${kafka_payload_topic:local.hcx.request.payload}
    ingest: ${kafka_ingest_topic:local.hcx.request.ingest}

gateway:
  mode: true
#hcx headers
protocol:
  headers:
    mandatory: ${protocol_mandatory_headers:x-hcx-sender_code, x-hcx-recipient_code, x-hcx-request_id, x-hcx-correlation_id, x-hcx-timestamp, x-hcx-status, jws_header, jwe_header}
    optional: ${protocol_optional_headers:x-hcx-workflow_id, x-hcx-debug_flag, x-hcx-error_details, x-hcx-debug_details}
headers:
  domain: ${domain_headers:use_case_name, parameter_name}
  jose: ${jose_headers:alg, enc}

#hcx payload properties
payload:
  mandatory:
    properties: ${payload_mandatory_properties:protected, encrypted_key, aad, iv, ciphertext, tag}